@media (max-width: 1150px){
  .container {
    width: 950px;
  }
}

@media (max-width: 1024px){
  .container {
    width: 800px;
  }

  .sobre-web-design figcaption img {
    width: 500px;
    }
}

@media (max-width: 900px){
  body{
    background-position: left top;
    background-color: #b1f4ff;
  }
  .container {
    width: 600px;
  }

  .row {
    flex-direction: column;
  }

  .sobre-web-design article {
    width: 100%;
  }

  footer .row {
    flex-direction: row;
    justify-content: center;
  }

  .sobre-web-design figcaption img {
    width: 100%;
    margin: 30px 0 0 0;
    }
}

@media (max-width: 665px){
  .container {
    width: 450px;
  }

}
 @media (max-width: 450px) {
   .container {
     width: 290px;
   }

   header nav {
     background-color: #fff;
     width: 100%;
     padding: 10px 0 20px;
     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
   }

    header nav ul{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    header nav ul li{
      margin: 10px 0;
    }

 }